body {
background-image: url(https://www.amsterdamned2.nl/wp-content/uploads/2025/11/174_Amsterdamned2_SelectionStills_01.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}


.info-box {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);

  width: 240px;
  padding: 15px;
  border-radius: 10px;
  background: #3b3b3b;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  border: 1px solid rgba(255, 255, 255, 0.1);
}



.info-box p {
  font-size: 14px;
  margin-bottom: 8px;
  color: rgb(214, 1, 1);
}




